<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ site.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

</head>
<body>
    <div class="wrapper">
        <div style="clear:both"></div>
        <hr>
        <div class="container content">
            {{ content }}
            <hr />
            <p style="text-align: center; margin-bottom: 10px">
                <a href="{{ site.footer_url }}" style="color: black"><small>{{ site.footer_text }}</small></a>
            </p>
        </div>
    </div>
</body>
